<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<title>DB自检</title>
		<!-- 引入 Vue 和 Vant 的 JS 文件 -->
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/vant.min.js"></script>
		<script src="js/common.js"></script>
		<link rel="stylesheet" href="styles/style.css" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="styles/vant.css" />
	</head>

	<body>
		<div id="app">
			<div>
				<van-nav-bar :title="title" left-arrow left-text="返回" @click-left="backLast" />
			</div>
			<div>
				<van-field v-model="time" label="日期时间" input-align="right" placeholder="请输入" ref="filed1"
					error-message-align="right" />
			</div>
			<div>
				<van-field v-model="materialContent" label="工卡号" input-align="right" placeholder="请输入或扫描工卡号"
					@keyup.enter.native="onEnter(0)" autofocus ref="filed2" :error-message="errorMsg2"
					error-message-align="right" />
			</div>
			<div id='no'>
				<van-field v-model="locationCode" label="设备编号" input-align="right" placeholder="请输入或扫描设备" ref="filed0"
					required :error-message="errorMsg1" error-message-align="right" />
			</div>

			<div id='no'>
				<van-field v-model="boxCode" label="料盒数" input-align="right" placeholder="请输入或扫描设备" ref="filed0"
					 :error-message="errorMsg1" error-message-align="right" />
			</div>


			<div>
				<van-field input-align="right" readonly clickable name="numberPicker" :value="materialsNumber"
					label="料条数" placeholder="点击选择条数" @click="showPicker1 = true" />
			</div>
			<div>
				<van-field readonly clickable name="picker" input-align="right" :value="EnsectionTiming" label="类型"
					placeholder="点击选择类型" @click="showPicker = true" />
			</div>

			<div>
				<van-field label="判定" input-align="right">
					<template #input>
						<van-radio-group v-model="judgment" direction="horizontal">
							<van-radio name="OK">OK</van-radio>
							<van-radio name="NG">NG</van-radio>

						</van-radio-group>
					</template>
				</van-field>
			</div>
			<div v-if="judgment=='NG'">
				<van-field v-model="txtReason" label="缺陷代码" input-align="right" @keyup.enter.native="onEnter(4)"
					ref="filed4" placeholder="请输入或选择" clearable>
					<van-button slot="button" size="small" type="info" @click.stop="showreasonspopup">选择
					</van-button>
				</van-field>
			</div>
			<div class="confirm_dellist">
				<div class="list_has_del" v-for="(item,index) in reasons">
					<span>{{index+1}}、缺陷名称：{{item}}</span>
					<div class="list_has_del_r">
						<span class="del_btn" @click="onDelete(4,index)">删除</span>
					</div>

				</div>
			</div>
			<div class='no'>
				<van-field v-model="qc" label="检验人" input-align="right" placeholder="请输入"
				required  />
			</div>
			<div class='no'>
				<van-field v-model="remark" label="备注" input-align="right" placeholder="请输入" />
			</div>

			<div class="btm_btn">
				<van-popup v-model="showPicker" position="bottom">
					<van-picker show-toolbar :columns="columns" @confirm="onConfirm" @cancel="showPicker = false" />
				</van-popup>
				<van-popup v-model="showPicker1" position="bottom">
					<van-picker show-toolbar :columns="columns1" @confirm="onConfirm1" @cancel="showPicker1 = false" />
				</van-popup>
				<van-row>
					<van-col span="10">
						<van-button type="info" color="#ccc" block square @click="reset">重置</van-button>
					</van-col>
					<van-col span="14">
						<van-button type="info" block square @click="save">{{btnName}}</van-button>
					</van-col>
				</van-row>

				<!--缺陷选择相关弹层-->
				<van-popup v-model="reasonspopup" position="right" :style="{ width: '80%',height:'100%' }">
					<div class="popup_list">
						<div class="popub_title">缺陷列表</div>
						<div class="pop_list">
							<van-checkbox-group v-model="selectedreasonsCode">
								<van-checkbox v-for="(item,index) in popupreasonsList" :name="item">
									<div class="row_line">{{item}}</div>
								</van-checkbox>
							</van-checkbox-group>
						</div>
					</div>
					<van-row class="popup_fixed_btn">
						<van-col span="10">
							<van-button color="#ccc" square block @click="reasonspopup=false">取消</van-button>
						</van-col>
						<van-col span="14">
							<van-button type="info" square block @click="confirmPopupreasons">确认选择</van-button>
						</van-col>
					</van-row>
				</van-popup>
			</div>

		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					type: '', //物料类型
					btnName: '确认',
					qc: '',
					qcCode: '',
					locationCode: '', //货架
					materialContent: '', //条码内容
					errorMsg1: "",
					errorMsg2: "",
					time: "",
					remark: '',
					judgment: '',
					markContent: '',
					EnsectionTiming: '',
					columns: ['维修/换刀自检', '频率自检', '开批检', '开班检', '固定1', '固定2', '换吸嘴', '换顶针', '换胶水', '维修', '开班', '停机',
						'开机'
					],
					columns1: ['1条', '2条', '3条', '4条', '5条',
						'6条', '7条', '8条', '9条', '10条',
						'11条', '12条', '13条', '14条', '15条',
						'16条', '17条', '18条', '19条', '20条'
					],
					showPicker: false,
					txtReason: "",
					reasons: [],
					reasonspopup: false,
					popupreasonsList: [
						"高尔夫球",
						"压线",
						"鱼尾不良",
						"脱球",
						"长线尾",
						"框架变形",
					],
					selectedreasonsCode: "",
					boxCode: '',
					materialsNumber: '',
					showPicker1: false,

				},
				//封装好的方法挂载到mounted里面
				mounted: function(data) {
					this.getNowTime();
					this.qcCode = localStorage.userCode;
					this.qc = localStorage.userName;
				},
				created() {
					var type = getQueryVariable('type'); //线边仓库类型或仓库类型	
					this.title = 'IC自检'
				},
				methods: {

					//确认选择缺陷
					confirmPopupreasons: function() {
						var self = this;
						if (this.selectedreasonsCode.length == 0) {
							self.$toast('请先选择缺陷！');
							return
						}
						var hasRepeat = false
						for (var index = 0; index < self.selectedreasonsCode.length; index++) {
							var element = self.selectedreasonsCode[index];
							var bf1 = false;
							for (var k = 0; k < self.reasons.length; k++) {
								var item = self.reasons[k];
								if (item == element) {
									bf1 = true;
									break;
								}
							}
							if (bf1 == false) {
								for (var j = 0; j < self.popupreasonsList.length; j++) {
									var model1 = self.popupreasonsList[j];
									if (model1 == element) {
										self.reasons.push(model1);
									}
								}
							} else {
								hasRepeat = true;
							}
						}
						if (hasRepeat) {
							self.$toast('已为您筛选掉重复的缺陷！');
						}
						this.activeNames = ['4']
						this.reasonspopup = false;
					},

					//显示缺陷选择弹窗
					showreasonspopup: function() {
						this.reasonspopup = true;
						this.selectedreasonsCode = [];
					},
					onConfirm(value) {
						this.EnsectionTiming = value;
						this.showPicker = false;
					},
					onConfirm1(value) {
						this.materialsNumber = value;
						this.showPicker1 = false;
					},
					getNowTime() {
						let now = new Date();
						let year = now.getFullYear();
						let month = (now.getMonth() + 1).toString().padStart(2, '0');
						let day = now.getDate().toString().padStart(2, '0');
						let hours = now.getHours().toString().padStart(2, '0');
						let minutes = now.getMinutes().toString().padStart(2, '0');
						let seconds = now.getSeconds().toString().padStart(2, '0');
						this.time = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
					},
					showPopup() {
						this.showPicker = true;
					},
					backLast: function() {
						window.location.href = "javascript:history.go(-1)";
					},
					//出入库提交
					save: function() {
						var self = this;
						var param = {
							CardId: self.materialContent,
							EquipmentCode: self.locationCode,
							time: self.time,
							EnsectionTiming: self.EnsectionTiming,
							Decision: self.judgment,
							qc: localStorage.userName,
							qcCode: localStorage.userCode,
							Comment: self.remark,
							reasons: self.reasons,
							materialsNumber:self.materialsNumber,
							boxCode:self.boxCode,
							
						}
						self.$dialog.confirm({
							title: '提示',
							message: '是否确认提交?',
						}).then(function() {
							$.ajax({
								url: serviceUrl + '/api/pda/CreateDBSelfTest',
								type: 'POST',
								data: param,
								contentType: "application/x-www-form-urlencoded",
								dataType: 'json',
								beforeSend: function(XMLHttpRequest) {
									XMLHttpRequest.setRequestHeader("token", localStorage.token);
									XMLHttpRequest.setRequestHeader("secret", localStorage
										.secret);
								},
								success: function(res) {
									if (res.code == 200) {
										self.$dialog.alert({
											title: '提示',
											message: '操作成功!'
										}).then(function() {
											if(self.judgment=='NG'){
												$.ajax({
													url: serviceUrl + '/api/pda/getdownequipment', //检测设备
													type: 'GET',
													data: {
														equipmentCode: self.locationCode
													},
													beforeSend: function(XMLHttpRequest) {
														XMLHttpRequest.setRequestHeader("token", localStorage.token);
														XMLHttpRequest.setRequestHeader("secret", localStorage.secret);
													},
													contentType: "application/x-www-form-urlencoded",
													dataType: 'json',
													success: function(res) {
														if (res.code == 200) {
															window.location.href =
																'pullForCheck.html?type=1&equipmentCode=' + self
																.locationCode
														} else {
															self.$toast(res.msg);
														}
													},
													error: function() {
														self.$toast('服务器错误');
													}
												})
											}
											

										})
									} else {
										self.$toast(res.msg);

									}
								},
								error: function() {
									self.$toast('网络异常');
								}
							})
						}).catch(function() {
							// on cancel
						});
					},
					//重置
					reset: function() {
						var self = this;
						self.$dialog.confirm({
							title: '提示',
							message: '是否确认重置?',
						}).then(function() {

							// 示例：如果需要重新获取初始数据
							window.location.reload();


						}).catch(function() {
							// on cancel
						});
					},
					//是否触发回车	
					onEnter: function(type) {
						var self = this;
						switch (type) {
							case 0: {
								self.onFocus(type);
								break;
							}
							case 1: //工卡			
								self.onFocus(type);
								break;

						}
					},
					//自动触发焦点聚焦
					onFocus: function(type) {
						var self = this;
						if (type == 0) {
							self.$refs.filed0.focus();
						}
					},
					onConfirmPopup(value) {
						this.showPicker = false;
					},

				}
			})
			Vue.config.devtools = true; //允许进行调试
		</script>
		<style>
			.row {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
			}

			.field-label {
				margin-right: 10px;
				margin-right: 16px;
				font-size: 14px;
				color: #323233da;
				line-height: 32px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.flex-container {
				display: flex;
				align-items: center;
			}

			.flex-label-col {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100px;
				/* 根据需要调整高度 */
			}

			.flex-field-col {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}

			.custom-van-field {
				background-color: rgb(255, 255, 255);
				/* padding: 10px; */
				display: inline-flex;
				justify-content: space-between;
				width: 100%;
			}
		</style>
	</body>
</html>