<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<title>IC首检</title>
		<!-- 引入 Vue 和 Vant 的 JS 文件 -->
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/vant.min.js"></script>
		<script src="js/common.js"></script>
		<link rel="stylesheet" href="styles/style.css" />
		<!-- 引入样式文件 -->
		<link rel="stylesheet" href="styles/vant.css" />
	</head>

	<body>
		<div id="app">
			<div>
				<van-nav-bar :title="title" left-arrow left-text="返回" @click-left="backLast" />
			</div>


			<div>
				<van-cell
					value="监控频次：更换型号首检，更换点胶头；监控数量：15；送检要求：圆型点胶头：胶点个数≥4个，X型点胶头：胶点个数≥2个，需检测空洞；(空洞标准：单颗≤5%，整体≤10%;2.单个超标准需要备注单个，其他记录整体)" />
			</div>
			<div>
				<van-field v-model="time" label="日期时间" input-align="right" placeholder="请输入" ref="filed1" required
					:error-message="errorMsg1" error-message-align="right" />
			</div>
			<div id='no'>
				<van-field v-model="locationCode" label="机台号" input-align="right" placeholder="请输入或扫描设备" ref="filed0"
					autofocus required :error-message="errorMsg1" error-message-align="right"
					@keyup.enter.native="onEnter(1)" />
			</div>

			<div>
				<van-field disabled v-model="package" label="封装型号" input-align="right" placeholder="请输入"
					@keyup.enter.native="onEnter(1)" ref="filed1" required :error-message="errorMsg1"
					error-message-align="right" />
			</div>
			<div>
				<van-field v-model="materialContent" label="工卡号" input-align="right" placeholder="请输入或扫描工卡号"
					@keyup.enter.native="onEnter(2)" autofocus ref="filed2" required :error-message="errorMsg2"
					error-message-align="right" />
			</div>
			<div>
				<van-field disabled v-model="pModel" label="产品型号" input-align="right" placeholder="请输入"
					@keyup.enter.native="onEnter(1)" ref="filed1" required :error-message="errorMsg1"
					error-message-align="right" />
			</div>
			<div>
				<van-field v-model="dModel" label="点胶头型号" input-align="right" placeholder="请输入"
					error-message-align="right" />
			</div>
			<div>
				<van-field v-model="dNumber" label="点胶次数" input-align="right" placeholder="请输入"
					error-message-align="right" />
			</div>
			<div id="dieModelId">
				<van-field v-model="DieTypeName" label="芯片类型" input-align="right" placeholder="请选择芯片型号">
					<template #input>
						<van-dropdown-menu>
							<van-dropdown-item v-model="dieModel" :options="options" @change="onSelect" />
						</van-dropdown-menu>
					</template>
				</van-field>
			</div>
			<div>
				<van-field v-model="dieModel" label="芯片型号" input-align="right" placeholder="请输入"
					error-message-align="right" />
			</div>
			<div>
				<van-field v-model="dieSize" label="芯片尺寸" input-align="right" placeholder="请输入"
					error-message-align="right" />
			</div>

			<div>
				<van-row id="size" class="flex-container">
					<van-col span="4"
						style="display: flex; justify-content: center; align-items: center; writing-mode: vertical-rl; text-orientation: upright;">
						空洞监控
					</van-col>
					<van-col span="19" class="flex-field-col">
						<van-row>
							<van-field v-model="testData1" label="数据1" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData1) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData2" label="数据2" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData2) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData3" label="数据3" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData3) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData4" label="数据4" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData4) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData5" label="数据5" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData5) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData6" label="数据6" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData6) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData7" label="数据7" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData7) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData8" label="数据8" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData8) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData9" label="数据9" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData9) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData10" label="数据10" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData10) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData11" label="数据11" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData11) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData12" label="数据12" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData12) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData13" label="数据13" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData13) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData14" label="数据14" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData14) ? 'red' : 'white' }" />
						</van-row>
						<van-row>
							<van-field v-model="testData15" label="数据15" input-align="right" placeholder="请输入"
								error-message-align="right"
								:style="{ backgroundColor: istestDataOfRange(testData15) ? 'red' : 'white' }" />
						</van-row>


					</van-col>
				</van-row>
			</div>

			<div class='no'>
				<van-field v-model="qc" label="品质人员" input-align="right" placeholder="请输入" required
					:error-message="errorMsg1" error-message-align="right" />
			</div>
			<div class='no custom-van-field'>
				<span class="field-label">综合判定：</span>
				<van-radio-group v-model="judgment" direction="horizontal">
					<van-radio name="OK">OK</van-radio>
					<van-radio name="NG">NG</van-radio>
				</van-radio-group>
			</div>
			<div class='no custom-van-field'>
				<span class="field-label">物料扣押：</span>
				<van-checkbox-group v-model="wuliaokouya" direction="horizontal" :disabled="judgment !== 'NG'">
					<van-checkbox name="NG">NG</van-checkbox>
				</van-checkbox-group>
			</div>
			<div class='no custom-van-field'>
				<span class="field-label">设备扣押：</span>
				<van-checkbox-group v-model="shebeikouya" direction="horizontal" :disabled="judgment !== 'NG'">
					<van-checkbox name="NG">NG</van-checkbox>
				</van-checkbox-group>
			</div>
			<div class='no'>
				<van-field v-model="remark" label="备注" input-align="right" placeholder="请输入"
					@keyup.enter.native="onEnter(1)" autofocus ref="filed1" required :error-message="errorMsg1"
					error-message-align="right" />
			</div>
			<van-tag type="success" size="large">{{tag}}</van-tag>

			<div class="btm_btn">
				<van-row>
					<van-col span="10">
						<van-button type="info" color="#ccc" block square @click="reset">重置</van-button>
					</van-col>
					<van-col span="14">
						<van-button type="info" block square @click="save">{{btnName}}</van-button>
					</van-col>
				</van-row>
			</div>


		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					type: '', //物料类型
					btnName: '确认',
					showPicker: false,
					columns: [],
					qc: '',
					qcCode: '',

					locationCode: '', //货架
					materialContent: '', //条码内容
					errorMsg1: "",
					errorMsg2: "",
					pModel: "",
					time: "",

					remark: '',
					shebeikouya: [],
					wuliaokouya: [],
					judgment: '',


					selectedreasonsCode: "",
					tag: "No:JDW-WI-Q-Q006-06(a)",
					dieSize: '',
					DieTypeName:'',
					dieModel: '',
					dNumber: '',
					dModel: '',
					package: '',
					testData1: '',
					testData2: '',
					testData3: '',
					testData4: '',
					testData5: '',
					testData6: '',
					testData7: '',
					testData8: '',
					testData9: '',
					testData10: '',
					testData11: '',
					testData12: '',
					testData13: '',
					testData14: '',
					testData15: '',
					options: [{
							text: '型号1',
							value: 'model1',
							pinNumber: 1
						},
						{
							text: '型号2',
							value: 'model2',
							pinNumber: 1
						}
					],

				},
				//封装好的方法挂载到mounted里面
				mounted: function(data) {
					this.getNowTime();
					this.qcCode = localStorage.userCode;
					this.qc = localStorage.userName;

				},
				created() {

					var type = getQueryVariable('type'); //线边仓库类型或仓库类型	
					var materialContent = getQueryVariable('CardID') || ""; //线边仓库类型或仓库类型
					var locationCode = getQueryVariable('EquipmentCode') || ""; //线边仓库类型或仓库类型


					this.title = 'IC焊片站芯片空洞检测记录表'

					if (locationCode != null) {
						this.materialContent = materialContent
						this.locationCode = locationCode
					}

				},
				methods: {
					onSelect(value) {
					
						const selectedOption = this.options.find(option => option.value === value);
	
						this.dieModel = selectedOption ? selectedOption.value : '';
						this.dieSize = selectedOption ? selectedOption.PModel66 : '';
					
					},
					istestDataOfRange(value) {
						return value !== '' && (parseFloat(value) > 10 || parseFloat(value) < 0);
					},

					onConfirmInspectionType(value) {
						this.inspectionType = value;
					},
					onCancelInspectionType() {
						this.inspectionType = '';
					},
					getNowTime() {
						let now = new Date();
						let year = now.getFullYear();
						let month = (now.getMonth() + 1).toString().padStart(2, '0');
						let day = now.getDate().toString().padStart(2, '0');
						let hours = now.getHours().toString().padStart(2, '0');
						let minutes = now.getMinutes().toString().padStart(2, '0');
						let seconds = now.getSeconds().toString().padStart(2, '0');
						this.time = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
					},
					showPopup() {
						this.showPicker = true;
					},


					backLast: function() {
						window.location.href = "javascript:history.go(-1)";
					},

					//出入库提交
					save: function() {
						var self = this;
						var param = {

							cardID: self.materialContent,
							pModel: self.pModel,
							locationCode: self.locationCode,
							time: self.time,
							judgment: self.judgment,
							qc: localStorage.userName,
							qcCode: localStorage.userCode,
							remark: self.remark,
							wuliaokouya: this.wuliaokouya.includes("NG") ? "NG" : "",
							shebeikouya: this.shebeikouya.includes("NG") ? "NG" : "",
							Tag: self.tag,
							dieTypeName:self.DieTypeName,
							dieSize: self.dieSize,
							dieModel: self.dieModel,
							dNumber: self.dNumber,
							dModel: self.dModel,
							package: self.package,
							testData1: self.testData1,
							testData2: self.testData2,
							testData3: self.testData3,
							testData4: self.testData4,
							testData5: self.testData5,
							testData6: self.testData6,
							testData7: self.testData7,
							testData8: self.testData8,
							testData9: self.testData9,
							testData10: self.testData10,
							testData11: self.testData11,
							testData12: self.testData12,
							testData13: self.testData13,
							testData14: self.testData14,
							testData15: self.testData15
						}
						self.$dialog.confirm({
							title: '提示',
							message: '是否确认提交?',
						}).then(function() {
							$.ajax({
								url: serviceUrl + '/api/pda/FirstInspection8',
								type: 'POST',
								data: param,
								contentType: "application/x-www-form-urlencoded",
								dataType: 'json',
								beforeSend: function(XMLHttpRequest) {
									XMLHttpRequest.setRequestHeader("token", localStorage.token);
									XMLHttpRequest.setRequestHeader("secret", localStorage
										.secret);
								},
								success: function(res) {
									if (res.code == 200) {
										self.$dialog.alert({
											title: '提示',
											message: '操作成功!'
										}).then(function() {

											// 重置所有属性
											self.locationCode = '';
											self.materialContent = '';
											self.errorMsg1 = '';
											self.errorMsg2 = '';
											self.pModel = '';
											self.package = ''
											self.getNowTime();

											self.remark = '';
											self.shebeikouya = [];
											self.wuliaokouya = [];
											self.judgment = '';
											self.dieSize = "";
											self.dieModel = "";
											self.dNumber = "";
											self.dModel = "";
											self.package = "";
											self.testData1 = "";
											self.testData2 = "";
											self.testData3 = "";
											self.testData4 = "";
											self.testData5 = "";
											self.testData6 = "";
											self.testData7 = "";
											self.testData8 = "";
											self.testData9 = "";
											self.testData10 = "";
											self.testData11 = "";
											self.testData12 = "";
											self.testData13 = "";
											self.testData14 = "";
											self.testData15 = "";





										})
									} else {
										self.$toast(res.msg);

									}
								},
								error: function() {
									self.$toast('网络异常');
								}
							})
						}).catch(function() {
							// on cancel
						});
					},

					//重置
					reset: function() {
						var self = this;
						self.$dialog.confirm({
							title: '提示',
							message: '是否确认重置?',
						}).then(function() {

							// 重置所有属性
							self.locationCode = '';
							self.materialContent = '';
							self.errorMsg1 = '';
							self.errorMsg2 = '';
							self.pModel = '';
							self.package = ''
							self.getNowTime();

							self.remark = '';
							self.shebeikouya = [];
							self.wuliaokouya = [];
							self.judgment = '';
							self.dieSize = "";
							self.dieModel = "";
							self.dNumber = "";
							self.dModel = "";
							self.package = "";
							self.testData1 = "";
							self.testData2 = "";
							self.testData3 = "";
							self.testData4 = "";
							self.testData5 = "";
							self.testData6 = "";
							self.testData7 = "";
							self.testData8 = "";
							self.testData9 = "";
							self.testData10 = "";
							self.testData11 = "";
							self.testData12 = "";
							self.testData13 = "";
							self.testData14 = "";
							self.testData15 = "";

						}).catch(function() {
							// on cancel
						});
					},

					//是否触发回车	
					onEnter: function(type) {
						var self = this;
						switch (type) {
							case 0: {
								self.onFocus(type);
							}
							case 1: //工卡			
								self.onFocus(type);
								break;
							case 2:
								this.getCardInfo();
								break;
							case 4: //缺陷

								var isExist = false;
								for (var index = 0; index < self.reasons.length; index++) {
									var element = self.reasons[index];
									if (self.txtReason == element) {
										isExist = true;
										break;
									}
								}
								if (!isExist) {
									self.reasons.push(self.txtReason)
								} else {
									self.$toast('已扫描过相同缺陷');
								}
								self.txtReason = ''

								break;
						}
					},

					//获取卡号信息
					getCardInfo() {
						console.log(this.materialContent);
						var self = this;
						$.ajax({
							url: serviceUrl + '/api/pda/getCardContent',
							type: 'GET',
							data: {
								cardID: self.materialContent,
								equipmentCode: self.locationCode,
								type: 81,
								kind: 1
							},
							contentType: "application/x-www-form-urlencoded",
							dataType: 'json',
							beforeSend: function(XMLHttpRequest) {
								XMLHttpRequest.setRequestHeader("token", localStorage.token);
								XMLHttpRequest.setRequestHeader("secret", localStorage.secret);
							},
							success: function(res) {
								if (res.code == 200) {
									console.log(res.data);
									self.errorMsg1 = ''
									self.$refs.filed2.focus();
									// self.locationCode = res.data.EquipmentCode;
									self.pModel = res.data.card.PModel;
									self.package = res.data.card.PackageCode
									self.materialContent = res.data.card.CardID;
									self.options = res.data.Options;
								} else {
									self.$toast(res.msg);

									self.$refs.filed2.focus();
								}
							},
							error: function() {
								self.$toast('网络异常');
								self.materialContent = '';
								self.$refs.filed2.focus();
							}
						})
					},

					//自动触发焦点聚焦
					onFocus: function(type) {
						var self = this;
						if (type == 0) {
							self.$refs.filed1.focus();
						} else if (type == 1) {
							self.$refs.filed2.focus();
						} else if (type == 2) {
							// self.$refs.filed1.focus();
						}
					},
					onConfirmPopup(value) {
						this.showPicker = false;
					},
					//删除
					onDelete: function(type, index) {
						var self = this;
						self.reasons.splice(index, 1)
					},

				}
			})
			Vue.config.devtools = true; //允许进行调试
		</script>
		<style>
			.row {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
			}

			.field-label {
				margin-right: 10px;
				margin-right: 16px;
				font-size: 14px;
				color: #323233da;
				line-height: 32px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.flex-container {
				display: flex;
				align-items: center;
			}

			.flex-label-col {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100px;
				/* 根据需要调整高度 */
			}

			.flex-field-col {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}

			.custom-van-field {
				background-color: rgb(255, 255, 255);
				/* padding: 10px; */
				display: inline-flex;
				justify-content: space-between;
				width: 100%;
			}
		</style>
	</body>
</html>